body {
  background: #f5f5f7;
  width: min(600px, 100%);
}

h2 {
  margin: 1em 0 5px 0;
}

#rce {
  width: auto;
  background: #222;
  color: #fff;
}

.result {
  border-radius: 5px;
  margin: 5px;
  width: calc(100% - 20px);
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background: #222;
  color: #888;
}

button {
  /* rpm-10 b0 */
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  min-width: 100px;
  background: #aaf;
}