@media screen {
  .slides section {
    margin: 0 2.5%;
    max-width: 95%;
  }
}

table {
  margin: 5px auto;
}

ul,
ol {
  max-width: min(100%, 600px) !important;
  text-align: left !important;
  margin: 10px auto !important;
}

li {
  margin: 5px 0;
}

cite {
  position: absolute;
  top: 0;
  left: 0;
}

.afa {
  background: #afa;
}

.aaf {
  background: #aaf;
}

.aff {
  background: #aff;
}

.faa {
  background: #faa;
}

.faf {
  background: #faf;
}

.ffa {
  background: #ffa;
}

img {
  max-width: 100%;
}