html {
  margin: 0 auto;
  background: #ccc;
  width: 22cm !important;
  max-width: 22cm !important;
  overflow-x: hidden;
}

body {
  font-family: "Computer Modern Serif", sans-serif;
  padding: 1cm;
  width: 100%;
  margin: 0;
  background: #fff;
  counter-reset: page;
}

/* .split will also act as a page counter */
.split {
  width: calc(21cm - 3em);
  height: 31.15cm;
  max-width: 21cm !important;

  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  border-bottom: 2px solid #000;
}

a,
a:hover,
a:visited {
  color: blue;
}

.split::after {
  counter-increment: page;
  display: block;
  content: counter(page);
  position: absolute;
  right: 2em;
  bottom: 0;
  font: 700 16px Times;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.split>div {
  width: 49%;
  max-width: 49%;
  padding: 0.5%;
  height: 100%;
}

#topic {
  font-style: italic;
  font-family: Helvetica;
}

#year {
  line-height: 2.5em;
  vertical-align: bottom;
}

#frontmatter-lhs {
  font-family: Helvetica;
  padding-top: 5px;
  font-size: 22px;
}

#frontmatter-lhs #from {
  padding: 10px 0;
}

#frontmatter-lhs #from,
#frontmatter-lhs #date {
  font-size: 16px;
}

hr {
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

.split>hr {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  margin-top: 1.75cm;
}

#title {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.katex-html {
  display: none;
}

.language-json {
  padding: 0 1em !important;
}