html {
  width: 21cm !important;
  max-width: 21cm !important;
  overflow-x: hidden;
  margin: 0 auto;
  background: #ccc;
}

body {
  font-family: "Computer Modern Serif", sans-serif;
  padding: 1cm;
  width: 100%;
  margin: 0;
  background: #fff;
  counter-reset: page;
}

/* .split will also act as a page counter */
.split {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 5px 0;
  border-bottom: 2px solid #000;
}

a,
a:hover,
a:visited {
  color: blue;
}

.split::after {
  counter-increment: page;
  display: block;
  content: counter(page);
  position: absolute;
  right: 3em;
  bottom: 2.5em;
  font: 700 16px Times;
}

img {
  max-width: 100%;
  height: auto;
}

.split>div {
  width: 49%;
  max-width: 49%;
}

#topic {
  font-style: italic;
  font-family: Helvetica;
}

#year {
  line-height: 2.5em;
  vertical-align: bottom;
}

#frontmatter-lhs {
  font-family: Helvetica;
  padding-top: 5px;
  font-size: 22px;
}

#frontmatter-lhs #from {
  padding: 10px 0;
}

#frontmatter-lhs #from,
#frontmatter-lhs #date {
  font-size: 16px;
}

hr {
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

#title {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.katex-html {
  display: none;
}