<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/atomic.css">
  <link rel="stylesheet" href="/assets/global.css">

  <link rel="apple-touch-icon" href="">
  <link rel="icon" type="image/png" href="">

  <script src="https://unpkg.com/htmx.org@1.9.3" crossorigin="anonymous"></script>

  <title>Redpitaya LocalServer</title>
</head>

<body class="mx-a">
  <h1 tx="red" class="w-100 mx-a">Redpitaya WebServer</h1>

  <h2>Specific Functions</h2>
  <main>
    <section>
      <h3>Blink LED</h3>
      <div class="f j-bw">
        <button id="blink" flex hx-get="/blink?led=1" hx-target="#led-result1" hx-swap="innerHTML"
          hx-trigger="click">Blink
          LED1</button>
        <div flex></div>
        <div class="result p5" flex="5" id="led-result1">BLINK?</div>
      </div>
      <br>
      <div class="f j-bw">
        <button id="blink" flex hx-get="/blink?led=2" hx-target="#led-result2" hx-swap="innerHTML"
          hx-trigger="click">Blink
          LED2</button>
        <div flex></div>
        <div class="result p5" flex="5" id="led-result2">BLINK?</div>
      </div>
    </section>

    <section>
      <h3>Plot from file</h3>
      <p>
        Attach a file with N values of x,y pairs. The server will plot the data.
      </p>

      <form hx-post="/plot" hx-target="#plot-result" hx-swap="innerHTML" hx-encoding='multipart/form-data'
        hx-indicator="#spinner">
        <input type="file" name="file" id="file">
        <button type="submit">Plot</button>
      </form>
      <br>
      <div class="result p5" id="plot-result">
        <img id="spinner" class="htmx-indicator" src="/assets/bars.svg" />
      </div>
    </section>

    <section>
      <h3>Random Blinks Plot Realtime</h3>
    </section>


  </main>

  <div id="error-holder" class="p-fix f-col"></div>
  <script src="/assets/handlers.js"></script>
</body>

</html>